Academic_Relation_on_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Academic_Realations_On_Incomplete_Submission</name>
        <label>Academic Realations On Incomplete Submission</label>
        <locationX>50</locationX>
        <locationY>3719</locationY>
        <actionName>Academic_Relation__c.Academic_Relations_On_Incomplete_Submission</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Incomplete_Submission_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Academic_Relations_On_Incomplete_Submission</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Academic_Relations_On_OCA</name>
        <label>Academic Relations On OCA</label>
        <locationX>182</locationX>
        <locationY>1355</locationY>
        <actionName>Academic_Relation__c.Academic_Relations_On_OCA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_OCA_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Academic_Relations_On_OCA</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Academic_Relations_On_Rejection</name>
        <label>Academic Relations On Rejection</label>
        <locationX>50</locationX>
        <locationY>2087</locationY>
        <actionName>Academic_Relation__c.Academic_Relations_On_Rejection</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Rejection_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Academic_Relations_On_Rejection</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Academic_Relations_On_Submission</name>
        <label>Academic Relations On Submission</label>
        <locationX>226</locationX>
        <locationY>1055</locationY>
        <actionName>Academic_Relation__c.Academic_Relations_On_Submission</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AR_on_OCA_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Academic_Relations_On_Submission</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Academic_Relations_On_Unsupported_Region_Encouraging_Collab</name>
        <label>Academic Relations On Unsupported Region Encouraging Collab-</label>
        <locationX>50</locationX>
        <locationY>3311</locationY>
        <actionName>Academic_Relation__c.Academic_Relations_On_Unsupported_Region</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_UR_Encouraging_Collab</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Academic_Relations_On_Unsupported_Region</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>AcademicRelations_On_UnSupportedRegion_HardPass</name>
        <label>Academic Relations On UnSupportedRegion- HardPass</label>
        <locationX>50</locationX>
        <locationY>2903</locationY>
        <actionName>Academic_Relation__c.Academic_Relations_On_UnSupportedRegion_HardPass</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_UR_HardPass_flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Academic_Relations_On_UnSupportedRegion_HardPass</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>AcademicRelations_On_UnSupportedRegion_PossibleRegion</name>
        <label>Academic Relations On UnSupportedRegion- PossibleRegion</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <actionName>Academic_Relation__c.Academic_Relations_On_UnSupportedRegion_PossibleRegion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_UR_PossibleRegion_flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Academic_Relations_On_UnSupportedRegion_PossibleRegion</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>AcademicRelations_On_UserAccntsOnly</name>
        <label>Academic Relations On UserAccntsOnly</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <actionName>Academic_Relation__c.Academic_Relations_On_UserAccntsOnly</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Academic_Relations_On_UserAccntsOnly</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Amendment_Academic_Engagements</name>
        <label>Amendment Academic Engagements</label>
        <locationX>2646</locationX>
        <locationY>4811</locationY>
        <actionName>Academic_Relation__c.Amendment_Academic_Engagements</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Amendment_Academic_Engagements</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Aria_Email_Alert</name>
        <label>Aria Email Alert</label>
        <locationX>358</locationX>
        <locationY>431</locationY>
        <actionName>Academic_Relation__c.Aria_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Agreement_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Aria_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Data_Material_Sharing_Academic_Engagements</name>
        <label>Data/Material Sharing Academic Engagements</label>
        <locationX>1854</locationX>
        <locationY>4811</locationY>
        <actionName>Academic_Relation__c.Data_Material_Sharing_Academic_Engagements</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Data_Material_Sharing_Academic_Engagements</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Donations_Academic_Engagements</name>
        <label>Donations Academic Engagements</label>
        <locationX>1590</locationX>
        <locationY>4703</locationY>
        <actionName>Academic_Relation__c.Donations_Academic_Engagements</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Donations_Academic_Engagements</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>LS_Academic_Engagements</name>
        <label>LS Academic Engagements</label>
        <locationX>1326</locationX>
        <locationY>4703</locationY>
        <actionName>Academic_Relation__c.LS_Academic_Engagements</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.LS_Academic_Engagements</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Other_Academic_Engagements</name>
        <label>Other Academic Engagements</label>
        <locationX>2382</locationX>
        <locationY>4811</locationY>
        <actionName>Academic_Relation__c.Other_Academic_Engagements</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Other_Academic_Engagements</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Owner_Change_Email_Alert</name>
        <label>Owner Change Email Alert</label>
        <locationX>226</locationX>
        <locationY>755</locationY>
        <actionName>Academic_Relation__c.Academic_Relations_Owner_Change</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AR_on_Submission_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.Academic_Relations_Owner_Change</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>SRA_SOW_Academic_Engagements</name>
        <label>SRA/SOW Academic Engagements</label>
        <locationX>2118</locationX>
        <locationY>4811</locationY>
        <actionName>Academic_Relation__c.SRA_SOW_Academic_Engagements</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Academic_Relation__c.SRA_SOW_Academic_Engagements</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Academic_Relations_OwnerChange</name>
        <label>Academic Relations Owner Change</label>
        <locationX>358</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>AR_on_Submission_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AcademicRelations_OwnerChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Change_Email_Alert</targetReference>
            </connector>
            <label>Academic Relations Owner Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>AR_on_IncompleteSubmission</name>
        <label>AR on Incomplete Submission</label>
        <locationX>182</locationX>
        <locationY>3611</locationY>
        <defaultConnector>
            <targetReference>Update_Engagements_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_on_Incomplete_Submission</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5  AND( 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need more info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Status_Aria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incomplete_Submissions_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsupported</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Academic_Realations_On_Incomplete_Submission</targetReference>
            </connector>
            <label>AR on Incomplete Submission</label>
        </rules>
    </decisions>
    <decisions>
        <name>AR_on_OCA_Email</name>
        <label>AR on OCA</label>
        <locationX>358</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>AR_on_UserAccnts_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_ON_EMAIL_OCA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanctions_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_Type_Aria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OCA_flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Academic_Relations_On_OCA</targetReference>
            </connector>
            <label>AR ON EMAIL OCA</label>
        </rules>
    </decisions>
    <decisions>
        <name>AR_on_REJECTION_EMAIL</name>
        <label>AR on REJECTION</label>
        <locationX>182</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>AR_on_URPossible_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_REJECTION_EMAIL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rejection_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Academic_Relations_On_Rejection</targetReference>
            </connector>
            <label>AR ON EMAIL REJECTION</label>
        </rules>
    </decisions>
    <decisions>
        <name>AR_on_Submission_Check</name>
        <label>AR on Submission</label>
        <locationX>358</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>AR_on_OCA_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_on_Submission_Check_Conditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Academic_Relations_On_Submission</targetReference>
            </connector>
            <label>AR on Submission Check Conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>AR_on_Unsupported_Region_EncouragingCollab</name>
        <label>AR on Unsupported Region - Encouraging Collab`</label>
        <locationX>182</locationX>
        <locationY>3203</locationY>
        <defaultConnector>
            <targetReference>AR_on_IncompleteSubmission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_on_UnsupportedRegion_EncouragingCollab</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsupported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UR_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Academic_Relations_On_Unsupported_Region_Encouraging_Collab</targetReference>
            </connector>
            <label>AR on Unsupported Region - Encouraging Collab`</label>
        </rules>
    </decisions>
    <decisions>
        <name>AR_on_Unsupported_RegionHard_Pass</name>
        <label>AR on Unsupported Region - Hard Pass</label>
        <locationX>182</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>AR_on_Unsupported_Region_EncouragingCollab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_on_UnsupportedRegion_Hard_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsupported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UR_HardPass_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcademicRelations_On_UnSupportedRegion_HardPass</targetReference>
            </connector>
            <label>AR on Unsupported Region - Hard Pass</label>
        </rules>
    </decisions>
    <decisions>
        <name>AR_on_URPossible_Region</name>
        <label>AR on UR- Possible Region</label>
        <locationX>182</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>AR_on_Unsupported_RegionHard_Pass</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_on_UR_PossibleRegion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UR_PossibleRegion_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcademicRelations_On_UnSupportedRegion_PossibleRegion</targetReference>
            </connector>
            <label>AR on UR- Possible Region</label>
        </rules>
    </decisions>
    <decisions>
        <name>AR_on_UserAccnts_Only</name>
        <label>AR on UserAccnts Only</label>
        <locationX>182</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>AR_on_REJECTION_EMAIL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AR_on_UserAccnts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sanctions_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_Type_Aria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User Acct only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SA_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcademicRelations_On_UserAccntsOnly</targetReference>
            </connector>
            <label>AR on UserAccnts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Conditions_check</name>
        <label>Email Conditions check</label>
        <locationX>1854</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNew_Aria_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Aria_Email_Alert</targetReference>
            </connector>
            <label>IsNew Aria Record</label>
        </rules>
        <rules>
            <name>Academic_Relations_Owner_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Owner_Change_Email_Alert</targetReference>
            </connector>
            <label>Academic Relations Owner Change</label>
        </rules>
        <rules>
            <name>AR_on_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Academic_Relations_On_Submission</targetReference>
            </connector>
            <label>AR on Submission</label>
        </rules>
        <rules>
            <name>AR_on_OCA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sanctions_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_Type_Aria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OCA_flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Academic_Relations_On_OCA</targetReference>
            </connector>
            <label>AR on OCA</label>
        </rules>
        <rules>
            <name>AR_on_UserAccntsOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sanctions_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agreement_Type_Aria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User Acct only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SA_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AR_on_UserAccnts_Only</targetReference>
            </connector>
            <label>AR on UserAccntsOnly</label>
        </rules>
        <rules>
            <name>AR_on_Rejection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rejection_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Academic_Relations_On_Rejection</targetReference>
            </connector>
            <label>AR on Rejection</label>
        </rules>
        <rules>
            <name>AR_on_UR_Possible_Region</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UR_PossibleRegion_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AcademicRelations_On_UnSupportedRegion_PossibleRegion</targetReference>
            </connector>
            <label>AR on UR- Possible Region</label>
        </rules>
        <rules>
            <name>AR_on_Unsupported_Region_Hard_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsupported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UR_HardPass_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>AcademicRelations_On_UnSupportedRegion_HardPass</targetReference>
            </connector>
            <label>AR on Unsupported Region - Hard Pass</label>
        </rules>
        <rules>
            <name>AR_on_Unsupported_Region_Encouraging_Collab</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsupported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UR_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proceed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Academic_Relations_On_Unsupported_Region_Encouraging_Collab</targetReference>
            </connector>
            <label>AR on Unsupported Region - Encouraging Collab`</label>
        </rules>
        <rules>
            <name>AR_IncompleteSubmission</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND ( 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Triage_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Need more info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Status_Aria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>N/A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Incomplete_Submissions_Flag__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Regional_Eligibility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsupported</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Academic_Realations_On_Incomplete_Submission</targetReference>
            </connector>
            <label>AR On Incomplete Submission</label>
        </rules>
        <rules>
            <name>Update_Engagement_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engagements_Owner_Update</targetReference>
            </connector>
            <label>Update Engagement Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Engagements_Owner_Update</name>
        <label>Engagements Owner Update</label>
        <locationX>1854</locationX>
        <locationY>4487</locationY>
        <defaultConnector>
            <targetReference>Update_Default_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Engagement_Owner_LS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter of Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_on_LS</targetReference>
            </connector>
            <label>Engagement Owner - LS</label>
        </rules>
        <rules>
            <name>Engagement_Owner_Donations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation (cash/hardware)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Donations_Owner</targetReference>
            </connector>
            <label>Engagement Owner - Donations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Academic_Engagements_on_other_Collaboration_Types</name>
        <label>Send Academic Engagements on other Collaboration Types</label>
        <locationX>2382</locationX>
        <locationY>4703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Data_Material_Sharing_CT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data- or materials-sharing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Material_Sharing_Academic_Engagements</targetReference>
            </connector>
            <label>Data/Material Sharing CT</label>
        </rules>
        <rules>
            <name>SR_SOW_CT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SRA (including SOW)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SRA_SOW_Academic_Engagements</targetReference>
            </connector>
            <label>SR/SOW CT</label>
        </rules>
        <rules>
            <name>Other_CT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Academic_Engagements</targetReference>
            </connector>
            <label>Other CT</label>
        </rules>
        <rules>
            <name>Amendment_CT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Amendment_Academic_Engagements</targetReference>
            </connector>
            <label>Amendment CT`</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Engagements_Owner</name>
        <label>Update Engagements Owner</label>
        <locationX>182</locationX>
        <locationY>4019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Engagements_Owner_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Engagements_Owner_Update</targetReference>
            </connector>
            <label>Update Engagements Owner Check</label>
        </rules>
    </decisions>
    <description>T211308269;T217640842</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Academic Relation on Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Academic Relation on Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Agreement_Type</name>
        <label>Update Agreement Type</label>
        <locationX>358</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Academic_Relations_OwnerChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agreement_Type_Aria__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Agreement_Type_Aria__c</field>
            <value>
                <stringValue>To be determined</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Default_Owner</name>
        <label>Update Default Owner</label>
        <locationX>2382</locationX>
        <locationY>4595</locationY>
        <connector>
            <targetReference>Send_Academic_Engagements_on_other_Collaboration_Types</targetReference>
        </connector>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Label.AcademicEngagement_default_owner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Donations_Owner</name>
        <label>Update Donations Owner</label>
        <locationX>1590</locationX>
        <locationY>4595</locationY>
        <connector>
            <targetReference>Donations_Academic_Engagements</targetReference>
        </connector>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Label.AR_Donation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Flag</name>
        <label>Update Flag</label>
        <locationX>50</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>AR_on_REJECTION_EMAIL</targetReference>
        </connector>
        <inputAssignments>
            <field>SA_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Incomplete_Submission_Flag</name>
        <label>Update Incomplete Submission Flag</label>
        <locationX>50</locationX>
        <locationY>3827</locationY>
        <connector>
            <targetReference>Update_Engagements_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Incomplete_Submissions_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OCA_Flag</name>
        <label>Update OCA Flag</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>AR_on_UserAccnts_Only</targetReference>
        </connector>
        <inputAssignments>
            <field>OCA_flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_on_LS</name>
        <label>Update on LS</label>
        <locationX>1326</locationX>
        <locationY>4595</locationY>
        <connector>
            <targetReference>LS_Academic_Engagements</targetReference>
        </connector>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Label.AcademicEngagement_default_owner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Rejection_Flag</name>
        <label>Update Rejection Flag</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <connector>
            <targetReference>AR_on_URPossible_Region</targetReference>
        </connector>
        <inputAssignments>
            <field>Rejection_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UR_Encouraging_Collab</name>
        <label>Update UR Encouraging Collab</label>
        <locationX>50</locationX>
        <locationY>3419</locationY>
        <connector>
            <targetReference>AR_on_IncompleteSubmission</targetReference>
        </connector>
        <inputAssignments>
            <field>UR_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UR_HardPass_flag</name>
        <label>Update UR HardPass flag</label>
        <locationX>50</locationX>
        <locationY>3011</locationY>
        <connector>
            <targetReference>AR_on_Unsupported_Region_EncouragingCollab</targetReference>
        </connector>
        <inputAssignments>
            <field>UR_HardPass_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UR_PossibleRegion_flag</name>
        <label>Update UR PossibleRegion flag</label>
        <locationX>50</locationX>
        <locationY>2603</locationY>
        <connector>
            <targetReference>AR_on_Unsupported_RegionHard_Pass</targetReference>
        </connector>
        <inputAssignments>
            <field>UR_PossibleRegion_Flag__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1728</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_Conditions_check</targetReference>
        </connector>
        <object>Academic_Relation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
