Academic_Relation_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>AcRel_DRi_Changes</name>
        <label>AcRel DRi Changes</label>
        <locationX>1629</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AcRelDRI_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Collaboration_Type_Value</targetReference>
            </connector>
            <label>AcRel DRI Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Aria_Onwer_Update</name>
        <label>Aria Owner Update</label>
        <locationX>1179</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>TPACase_Updation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AriaOwnerUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Aria_Owner</targetReference>
            </connector>
            <label>Aria Owner Update</label>
        </rules>
    </decisions>
    <decisions>
        <description>Sponsored Research, SOW only, Amendment, Other, Data or Material Sharing</description>
        <name>Check_for_Collaboration_Type_Value</name>
        <label>Check for Collaboration Type Value</label>
        <locationX>918</locationX>
        <locationY>626</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Letter_of_Support_Collaboration_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter of Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_LS</targetReference>
            </connector>
            <label>Letter of Support - Collaboration Type</label>
        </rules>
        <rules>
            <name>Former_Intern_Collaboration_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former Intern License</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_Former_Intern</targetReference>
            </connector>
            <label>Former Intern - Collaboration Type</label>
        </rules>
        <rules>
            <name>Donation_Collaboration_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Donation (cash/hardware)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_Donation</targetReference>
            </connector>
            <label>Donation - Collaboration Type</label>
        </rules>
        <rules>
            <name>Project_Aria_Collaboration_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project Aria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_Project_Aria</targetReference>
            </connector>
            <label>Project Aria - Collaboration Type</label>
        </rules>
        <rules>
            <name>SR_SOW_Amendment_Other_DMS_Collaboration_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SRA (including SOW)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SOW only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data- or materials-sharing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requesting_Team_Values</targetReference>
            </connector>
            <label>SRA, SOW, Amendment,Other,DMS - Collaboration Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collaboration_Type_Check</name>
        <label>Collaboration Type Check</label>
        <locationX>1324</locationX>
        <locationY>718</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Former_Intern_CT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former Intern License</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TPA_Case_Field_FormerIntern</targetReference>
            </connector>
            <label>Former Intern CT</label>
        </rules>
        <rules>
            <name>Letter_of_Support_CT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter of Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TPACase_LS</targetReference>
            </connector>
            <label>Letter of Support CT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conditions_Check</name>
        <label>Conditions Check</label>
        <locationX>1050</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requesting_Team_Update</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Meta_Org__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reality Labs (MPT)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Meta_Org__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (MP)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Requesting_Team</targetReference>
            </connector>
            <label>Requesting Team Update</label>
        </rules>
        <rules>
            <name>AriaOwner_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aria_One_Click</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Aria_Owner</targetReference>
            </connector>
            <label>Aria Owner Update</label>
        </rules>
        <rules>
            <name>TPA_Case_Updation</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former Intern License</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter of Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collaboration_Type_Check</targetReference>
            </connector>
            <label>TPA Case Updation</label>
        </rules>
        <rules>
            <name>AcRel_DRI_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Academic_Engagements</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Collaboration_Type_Value</targetReference>
            </connector>
            <label>AcRel DRI Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requesting_Team_Values</name>
        <label>Requesting Team Values</label>
        <locationX>742</locationX>
        <locationY>1091</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OPALS_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OPALS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_OPALS</targetReference>
            </connector>
            <label>OPALS - Requesting Team</label>
        </rules>
        <rules>
            <name>DSR_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DSR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_DSR</targetReference>
            </connector>
            <label>DSR - Requesting Team</label>
        </rules>
        <rules>
            <name>Codec_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Codec Avatars</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_CODEC_update</targetReference>
            </connector>
            <label>Codec - Requesting Team</label>
        </rules>
        <rules>
            <name>Surreal_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surreal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_Surreal</targetReference>
            </connector>
            <label>Surreal - Requesting Team</label>
        </rules>
        <rules>
            <name>XR_ED_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XR-ED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_XR_ED_update</targetReference>
            </connector>
            <label>XR-ED - Requesting Team</label>
        </rules>
        <rules>
            <name>ETR_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Eye-Tracking (ETR)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_ETR_update</targetReference>
            </connector>
            <label>ETR - Requesting Team</label>
        </rules>
        <rules>
            <name>Graphics_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Graphics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_Graphics_update</targetReference>
            </connector>
            <label>Graphics - Requesting Team</label>
        </rules>
        <rules>
            <name>Agios_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agios</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_Agios_update</targetReference>
            </connector>
            <label>Agios - Requesting Team</label>
        </rules>
        <rules>
            <name>Audio_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_Audio</targetReference>
            </connector>
            <label>Audio - Requesting Team</label>
        </rules>
        <rules>
            <name>Sensors_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sensors &amp; Systems</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_Sensors_update</targetReference>
            </connector>
            <label>Sensors - Requesting Team</label>
        </rules>
        <rules>
            <name>Gemini_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gemini</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_Gemini_update</targetReference>
            </connector>
            <label>Gemini - Requesting Team</label>
        </rules>
        <rules>
            <name>Nimble_Requesting_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requesting_Team__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nimble</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AcRel_Nimble</targetReference>
            </connector>
            <label>Nimble - Requesting Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>TPACase_Updation</name>
        <label>TPA Case Updation</label>
        <locationX>2530</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>AcRel_DRi_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TPA_Case_Updation_check</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Former Intern License</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collaboration_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Letter of Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collaboration_Type_Check</targetReference>
            </connector>
            <label>TPA Case Updation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Academic Relation On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Academic Relation Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AcRel_Agios_update</name>
        <label>AcRel Agios</label>
        <locationX>1090</locationX>
        <locationY>1081</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_Agios</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_Audio</name>
        <label>AcRel Audio</label>
        <locationX>1089</locationX>
        <locationY>1216</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_Agios</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_CODEC_update</name>
        <label>AcRel CODEC</label>
        <locationX>370</locationX>
        <locationY>1141</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_OPALS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_Donation</name>
        <label>AcRel Donation</label>
        <locationX>397</locationX>
        <locationY>666</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AR_Donation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_DSR</name>
        <label>AcRel DSR</label>
        <locationX>355</locationX>
        <locationY>1269</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_OPALS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_ETR_update</name>
        <label>AcRel ETR</label>
        <locationX>665</locationX>
        <locationY>1667</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_OPALS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_Former_Intern</name>
        <label>AcRel Former Intern</label>
        <locationX>393</locationX>
        <locationY>533</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AR_LetterofSupport</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_Gemini_update</name>
        <label>AcRel Gemini</label>
        <locationX>1092</locationX>
        <locationY>1505</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_Agios</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_Graphics_update</name>
        <label>AcRel Graphics</label>
        <locationX>897</locationX>
        <locationY>1672</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_OPALS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_LS</name>
        <label>AcRel LS</label>
        <locationX>396</locationX>
        <locationY>401</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AR_LetterofSupport</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_Nimble</name>
        <label>AcRel Nimble</label>
        <locationX>1097</locationX>
        <locationY>1630</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_Agios</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_OPALS</name>
        <label>AcRel OPALS</label>
        <locationX>374</locationX>
        <locationY>1021</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_OPALS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_Project_Aria</name>
        <label>AcRel Project Aria</label>
        <locationX>395</locationX>
        <locationY>798</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_OPALS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_Sensors_update</name>
        <label>AcRel Sensors</label>
        <locationX>1091</locationX>
        <locationY>1369</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_Agios</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_Surreal</name>
        <label>AcRel Surreal</label>
        <locationX>353</locationX>
        <locationY>1412</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_OPALS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AcRel_XR_ED_update</name>
        <label>AcRel XR-ED</label>
        <locationX>521</locationX>
        <locationY>1671</locationY>
        <inputAssignments>
            <field>AcRel_DRI__c</field>
            <value>
                <elementReference>$Label.AcRel_DRI_OPALS</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Aria_Owner</name>
        <label>Update Aria Owner</label>
        <locationX>1441</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>TPACase_Updation</targetReference>
        </connector>
        <inputAssignments>
            <field>Owner__c</field>
            <value>
                <elementReference>$Label.Aria_Owner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Requesting_Team</name>
        <label>Update Requesting Team</label>
        <locationX>1151</locationX>
        <locationY>268</locationY>
        <connector>
            <targetReference>Aria_Onwer_Update</targetReference>
        </connector>
        <inputAssignments>
            <field>Requesting_Team__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TPA_Case_Field_FormerIntern</name>
        <label>Update TPA Case Field_FormerIntern</label>
        <locationX>1754</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>AcRel_DRi_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>TPA_Case__c</field>
            <value>
                <stringValue>XINT48</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TPACase_LS</name>
        <label>Update TPACase LS</label>
        <locationX>1471</locationX>
        <locationY>918</locationY>
        <connector>
            <targetReference>AcRel_DRi_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>TPA_Case__c</field>
            <value>
                <stringValue>XCONT151</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>756</locationX>
        <locationY>188</locationY>
        <connector>
            <targetReference>Conditions_Check</targetReference>
        </connector>
        <object>Academic_Relation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
